<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About page</title>
</head>
<body>
<h1>{{pageTitle}}</h1>
<p>some text here</p>
</body>
<footer>{{> footer}}</footer>
</html>